.userGuess {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.guessMessage {
  width: 200px;
  height: 50px;
  border: 2px solid black;
}

header {
  width: auto;
  height: 50px;
  background-color: #404041;
  text-align: center;
}

.pinkNum {
  color: #ED458B;
  font-size: 20px;
}

.grayGuess {
  color: #E6E7E8;
  font-size: 20px;
}

.guess {
  background-color: #D0D2D3;
}
